:root{
    --sananto-blue: #8CCBF4;
    --sananto-red: #E12C2C;
    --sananto-black: #131313;
    --sananto-white: #F0F0F0;

    --text-main: #1C1C1C;
    --text-muted: #888888;
    --border-thin: 2px solid #888888;

    /*BACKGROUND VARIABLES*/
    --s: 100px; /* control the size*/
    --c1: #8CCBF4;
    --c2: #5991b6;
    --_g:#0000, #0004 5%,
     var(--c2) 6%  14%,var(--c1) 16% 24%,var(--c2) 26% 34%,var(--c1) 36% 44%,
     var(--c2) 46% 54%,var(--c1) 56% 64%,var(--c2) 66% 74%,var(--c1) 76% 84%,
     var(--c2) 86% 94%,#0004 95%,#0000;
    --pattern-bg:
    radial-gradient(100% 50% at 100% 0   ,var(--_g)),
    radial-gradient(100% 50% at 0    50% ,var(--_g)),
    radial-gradient(100% 50% at 100% 100%,var(--_g));
    --pattern-bg-size: var(--s) calc(2*var(--s));
}

html {
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background-color: #131313;
color: var(--text-main);
box-sizing: border-box;
scroll-behavior: smooth;
}
*, *::before, *::after {
margin: 0;
padding: 0;
box-sizing: inherit;
}

img, picture, video, svg, canvas,button {
max-width: 100%;
display: block;
}

input, button, textarea, select {
font: inherit;
}

body {
line-height: 1.5;
}

ul{
list-style: none;

}

h1, h2, h3, h4, h5, h6 {
line-height: 1.2;
overflow-wrap: break-word;
}

.d-none{
    display: none;
}

body{
    background: var(--pattern-bg);
    background-size: var(--pattern-bg-size);
    background-attachment: fixed;
}
main, section{
    background-color: var(--sananto-white);
}
main{
    border-radius: 50px 50px 0px 0px;
    box-shadow: #131313a9 0px 0px 20px 7px;;
}

.footer-login{
    height: 40vw;
    background-color: var(--sananto-white);
}

header{
    padding: 4rem;

}
h1{
    color: var(--sananto-white);
    font-size: 1.8rem;
    text-align: center;
    background-color: #131313;
    padding: 1rem 2rem;
    width: fit-content;
    margin: auto;
}

h2{
    text-align: center;
}

.modal{
    height: 100%;
    width: 100%;
    position: fixed;
    inset: 0;
    z-index: 4;
    background-color: #131313a6;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
        
    h2{
        color: var(--sananto-black);
        width: 100%;
        padding: 15px 0;
        background-color: var(--sananto-blue);
    }

    .box{
        height: fit-content;
        background-color: var(--sananto-white);
        outline: var(--sananto-blue) 5px solid;
        border-radius: 15px;
        background-color: var(--sananto-white);
        
        .modal-text{
            padding: 0.7rem;
            display: flex;
            flex-direction: column;
            gap: 10px;

            p{
                text-align: center;
                font-size: 1rem;
            }

            ul{
                font-size: 0.8rem;
                list-style-type: decimal;
                list-style: disc;
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding: 0px 10px;
            }
            li{
                background-color: var(--sananto-blue);
            }
        }
    }



}

.button{
    border-radius: 50px;
    margin: 10px auto;
    padding: 5px;
}

#btnReglas{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: fixed;
    color: var(--sananto-black);
    bottom: 15px;
    right: 15px;
    border-radius: 100px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    width: 40px;
    padding: 25px;
    background-color: var(--sananto-blue);
    border: 3px solid var(--sananto-black);
    box-shadow: #13131357 0px 1px 2px 1px;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.login{
    border-radius: 25px;
    height: 100%;
    h2{
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        width: 100% ;
    }
}

#loginForm{
    display: flex;
    flex-direction: column;
    width: 90%;
    
    button{
        padding: 5px 7px;
    }
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 15px 0px;

    label{
        font-weight: bold;
        background-color: var(--sananto-blue);
        padding: 5px 0px;
        padding-left: 15px;
        gap: 10px;
        border-radius: 20px 10px 0px 0px;
        transform: translateY(1px);

        &::after{
            content: 'La que diste al registrarte';
            position: relative;
            background-color: var(--sananto-red);
            color: var(--sananto-white);
            margin-left: 20px;
            padding: 6px;
            padding-left: 10px;
            padding-right: 15px;
            border-radius: 0px 5px 0px 0px;
            font-weight: 600;
        }
    }

    .input-wrapper{
        position: relative;
        display: flex;
        align-items: center;
        background: var(--sananto-blue);
        border-radius: 0px 20px 20px 20px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;

        input{  
            background-color: var(--sananto-white);
            color: var(--text-main);
            border: none;
            border-radius: 20px;
            flex: 1;
            padding: 5px;
            font: inherit;
        }

        i{
            margin-left: 5px;
            color: var(--sananto-red);
        }
    }

}

#countrySelector ol{
    margin: 50px 5%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.group, .match-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    min-height: fit-content;
    outline: var(--sananto-blue) solid;
    border-radius: 20px;
    padding: 1rem;
    gap: 20px;
}
.group-participant{
    flex: 0 0 calc(50% - 5px);
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--sananto-red);
    border-radius: 10px;
    width: fit-content;
    padding: 5px;

    font-size: 0.85rem;
    font-weight: bold;
}

.countries-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin: 0 auto;
}

#elecciones{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    background-color: var(--sananto-blue);
    bottom: 5%;
    left: 0;
    right: 0;
    height: 40px;

    ul{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 7px;
        margin: 0 auto;
    }
}

#contenedorPartidos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.match-card{
    width: 90%;
    min-width: fit-content;
}